# OS junk
.DS_Store
[Tt]humbs.db

# Swap files
.*.swp

# npm debug log
npm-debug.log

# IDE files
.idea/*

# node_modules to keep things clean
node_modules/

# Environment variabels so that it won't mess Heroku setup
.env

#test file for database
server/tost.js
