<!--

    Title       : AddCourse
    Author      : Jiho Choi

    Description : search and addCourse from the current user using GET and POST

    TODOs : search query connection with Purdue.io API


-->


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Course</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Search Course
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form action="/join-class" method="post">
                                <div class="form-group">
                                    <label>Course Title</label>
                                    <input class="form-control" placeholder="CS180, MATH251">
                                </div>

                                <button type="submit" class="btn btn-default">Find Class</button>

                                <br><br>

                                <div class="form-group">
                                    <label>Search Results</label>
                                    <select multiple class="form-control">

                                        <!--<option>none</option>-->

                                    </select>
                                </div>

                                <button type="submit" class="btn btn-default">Join Class</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Course
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form action="/create-course" method="post">

                                <div class="form-group">
                                    <label>Course Title</label>
                                    <input class="form-control" id="coursename" name="coursename" placeholder="CS180, MATH251">
                                </div>

                                <div class="form-group">
                                    <label>Full Course Title</label>
                                    <input class="form-control" id="fullCourseName" name="fullCourseName" placeholder="Systems Programming">
                                </div>

                                <div class="form-group">
                                    <label>Semester</label>
                                    <select multiple class="form-control" id="semester" name="semester">
                                        <option value="Fall 2017">Fall 2017</option>
                                        <option value="Summer 2017">Summer 2017</option>
                                        <option value="Spring 2017">Spring 2017</option>
                                        <option value="Fall 2016">Fall 2016</option>
                                        <option value="Summer 2016">Summer 2016</option>
                                        <option value="Spring 2016">Spring 2016</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-default">Create Course</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
