

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{course}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{course}} co

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:240px;overflow:auto;>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <h4>Discription</h4>
                        <p>Problem solving and algorithms, implementation of algorithms in a high level programming
                            language, conditionals, the iterative approach and debugging, collections of data,
                            searching and sorting, solving problems by decomposition, the object-oriented approach,
                            subclasses of existing classes, handling exceptions that occur when the program is running,
                            graphical user interfaces (GUIs), data stored in files, abstract data types, a glimpse at
                            topics from other CS courses.</p>
                        <p>Problem solving and algorithms, implementation of algorithms in a high level programming
                            language, conditionals, the iterative approach and debugging, collections of data,
                            searching and sorting, solving problems by decomposition, the object-oriented approach,
                            subclasses of existing classes, handling exceptions that occur when the program is running,
                            graphical user interfaces (GUIs), data stored in files, abstract data types, a glimpse at
                            topics from other CS courses.</p>
                        <p>Problem solving and algorithms, implementation of algorithms in a high level programming
                            language, conditionals, the iterative approach and debugging, collections of data,
                            searching and sorting, solving problems by decomposition, the object-oriented approach,
                            subclasses of existing classes, handling exceptions that occur when the program is running,
                            graphical user interfaces (GUIs), data stored in files, abstract data types, a glimpse at
                            topics from other CS courses.</p>
                    </div>
                    <div class="tab-pane fade" id="Links">
                        <h4>Helpful Links</h4>
                        <p>http://courses.cs.purdue.edu/spring17:start#</p>
                        <p>http://courses.cs.purdue.edu/cs18000:spring16:start</p>
                        <p>https://www.helpguide.org/articles/depression/dealing-with-depression.htm</p>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Classmates
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="height:240px;overflow:auto;">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td>1</td>
                            <td>Kyle</td>
                            <td>Korver</td>
                            <td>@3sss4days</td>
                        </tr>
                        <tr class="info">
                            <td>2</td>
                            <td>J. R.</td>
                            <td>Smith</td>
                            <td>@failure</td>
                        </tr>
                        <tr class="warning">
                            <td>3</td>
                            <td>Kyrie</td>
                            <td>Irving</td>
                            <td>@irvingKyrie</td>
                        </tr>
                        <tr class="danger">
                            <td>4</td>
                            <td>LeBron</td>
                            <td>James</td>
                            <td>@therealLeBron</td>
                        </tr>
                        <tr class="success">
                            <td>5</td>
                            <td>Kevin</td>
                            <td>Love</td>
                            <td>@bigman</td>
                        </tr>
                        <tr class="success">
                            <td>5</td>
                            <td>Kevin</td>
                            <td>Love</td>
                            <td>@bigman</td>
                        </tr>
                        <tr class="success">
                            <td>5</td>
                            <td>Kevin</td>
                            <td>Love</td>
                            <td>@bigman</td>
                        </tr>
                        <tr class="success">
                            <td>5</td>
                            <td>Kevin</td>
                            <td>Love</td>
                            <td>@bigman</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>


<div class="row">
    <div class="col-lg-8">


        <div class="panel panel-default" >
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Posts

            </div>
            <!-- /.panel-heading -->

            <div class="panel-body" style="height:500px;overflow:auto;">

                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>

                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>

                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>
                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>

                <div class="well well-sm">
                    <h4>Small Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                </div>


                <!-- /.row -->
            </div>
            <!-- /.panel-body -->

            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat">
                                            Post
                                        </button>
                                    </span>
                </div>
            </div>

        </div>
        <!-- /.panel -->

    </div>
    <div class="col-lg-4">
        <!-- Events -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Events
                <span class="pull-right" type="button" onclick="alert('Under Construction Yo')">Create Event</span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="height:200px;overflow:auto;">


                <a href="#" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Study Session
                    <span class="pull-right text-muted small"><em>Tuesday 6:00 P.M.</em></span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-bolt fa-fw"></i> Second Exam
                    <span class="pull-right text-muted small"><em>Wednesday 8:30 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/13 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
            </div>
        </div>

        <!-- Subgroups -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-globe fa-fw"></i> Subgroups
                <span href="/createSubgroup" class="pull-right" type="button" onclick="alert('Under Construction Yo')">Create Subgroup</span>
                <!--<span href="/createSubgroup" class="pull-right" type="button" onclick="alert('Under Construction Yo')">Create Subgroup</span>-->
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="height:200px;overflow:auto;">


                <a href="#" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Study Session
                    <span class="pull-right text-muted small"><em>Tuesday 6:00 P.M.</em></span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-bolt fa-fw"></i> Second Exam
                    <span class="pull-right text-muted small"><em>Wednesday 8:30 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/13 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Group Meeting
                    <span class="pull-right text-muted small"><em>3/20 10:00 P.M.</em>
                                        </span>
                </a>
            </div>
        </div>

    </div>
    <!-- /.panel-body -->
</div>