<!--

    Title       : createEvent
    Author      : Dominic Valentine

    Description : Allows the creation of a new Event


-->

<!--
    views/layout.hbs contains header and nav-bar
    TODO: Add Pushing information.
-->



<!--
    webstorm reindent : control + alt + i
-->



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Event</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Event
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="create-event-form" name="create-event-form" action="/create-event" method="post">
                                <div class="form-group">
                                    <label>Event Title</label>
                                    <input class="form-control" id="eventName" name="eventName" placeholder="Study Session, Exam Prep">
                                </div>

                                <div class="form-group">
                                    <label>Location</label>
                                    <input class="form-control" id="eventLocation" name="eventLocation" placeholder="LWSNB160">
                                </div>

                                <div class="form-group" >
                                    <label>Date</label>
                                    <input type="date" id="eventDate" name="eventDate">
                                </div>

                                    <input type="hidden" id="courseName" name="courseName" value="{{course.name}}" />

                                    <!--<input class="form-control" placeholder="15">-->




                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" id="eventDes" name="eventDes" rows="5" style="resize: none;"></textarea>
                                    </div>

                                <button type="button" class="btn btn-default" onclick="submit_create_event()">Create Event</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>




        <!-- /.col-lg-4 -->
    </div>

    <!-- /#page-wrapper -->




</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->