
<!--

    Title       : Events
    Author      : Dominic Valentine

    Description : lists information about Events and gives option of joining an event


-->

<!--
    views/layout.hbs contains header and nav-bar
-->



<!--
    webstorm reindent : control + alt + i
-->



    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{evnt.name}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->




        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- Header for this Panel. Not sure what to put in it. -->
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Schedule" data-toggle="tab">Attend Event</a>
                            </li>
                            <li><a href="#home" data-toggle="tab">Description</a>
                            </li>
                            <li><a href="#Links" data-toggle="tab">Addition Info</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="home">
                                <h4>About Event</h4>
                                <p>{{evnt.description}}</p>
                            </div>
                            <div class="tab-pane fade" id="Links">
                                <h4>Specifics</h4>
                                <p>Where:
                                    <span class="pull-right"><em>{{evnt.type}}</em>
                                    </span>
                                </p>
                                <p>When:
                                    <span class="pull-right"><em>{{evnt.startTime}}</em>
                                    </span>
                                </p>
                            </div>

                            <div class="tab-pane fade in active" id="Schedule">
                                <h4></h4>
                                <a href="#" class="button" onclick="alert('You have been RSVPed for Event')">RSVP for Event</a>
                                <a href="#" class="button pull-right" onclick="alert('You have been removed from the Attendees List')">Remove my RSVP</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Classmates Attending
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="success">
                                    <td>1</td>
                                    <td>Kyle</td>
                                    <td>Korver</td>
                                    <td>@3sss4days</td>
                                </tr>
                                <tr class="info">
                                    <td>2</td>
                                    <td>J. R.</td>
                                    <td>Smith</td>
                                    <td>@failure</td>
                                </tr>
                                <tr class="warning">
                                    <td>3</td>
                                    <td>Kyrie</td>
                                    <td>Irving</td>
                                    <td>@irvingKyrie</td>
                                </tr>
                                <tr class="danger">
                                    <td>4</td>
                                    <td>LeBron</td>
                                    <td>James</td>
                                    <td>@therealLeBron</td>
                                </tr>
                                <tr class="success">
                                    <td>5</td>
                                    <td>Kevin</td>
                                    <td>Love</td>
                                    <td>@bigman</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-default btn-block">See All Attendees</a>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-4 fa-pull-right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Subgroups
                        <span class="pull-right" type="button" onclick="alert('Under Construction Yo')">Create Subgroup</span>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body ">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-tencent-weibo fa-fw"></i> Study Group
                                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-barcode fa-fw"></i> CoconutWatr Skwad
                                <span class="pull-right text-muted small"><em>53 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Dream Team
                                <span class="pull-right text-muted small"><em>2 hours ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-terminal fa-fw"></i> Recitation 10:30
                                <span class="pull-right text-muted small"><em>2 days ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-glass fa-fw"></i> Project 1 Group
                                <span class="pull-right text-muted small"><em>24 days ago</em>
                                    </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">View All Subgroups</a>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-wrapper -->


