<html>
<head>
    <meta http-equiv="refresh" content="5;url=/" />

    <!-- Bootstrap Social CSS -->
    <link href="../vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

</head>
<body style=" display: inline-block; margin: 100px auto;text-align: center;">

    <h1> Page not found or You don't have the authentication.</h1>

    <h1>Redirecting in 5 seconds...</h1>

    <a href="/">
        <h3> Go do dashboard. </h3>
    </a>



</body>
</html>



