























doctype html
html(lang='en')
head
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
title Coconut Watr
// Bootstrap Core CSS
link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// MetisMenu CSS
link(href='../vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
// Custom CSS
link(href='../css/style.css', rel='stylesheet')
// Morris Charts CSS
link(href='../vendor/morrisjs/morris.css', rel='stylesheet')
// Custom Fonts
link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
body
#wrapper
  // Navigation
  nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Coconut Watr
    // /.navbar-header
    ul.nav.navbar-top-links.navbar-right
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-envelope.fa-fw
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-messages
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a(href='#')
              div
                strong John Smith
                span.pull-right.text-muted
                  em Yesterday
              div
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
          li.divider
          li
            a.text-center(href='#')
              strong Read All Messages
              i.fa.fa-angle-right
        // /.dropdown-messages
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-user.fa-fw
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
          //li
          //  a(href='#')
          //    i.fa.fa-user.fa-fw
          //    |  User Profile
          //li
          //  a(href='#')
          //    i.fa.fa-gear.fa-fw
          //    |  Settings
          //li.divider
          li

            //a(method='post' action='/logout')
            //  i.fa.fa-sign-out.fa-fw
            //  |  Logout
            //
            //
            //form#logout(name='logout', method='post', action='/logout')
            //  i.fa.fa-sign-out.fa-fw
            //  input(type='hidden', name='perform_logout', value='1')
            //  input#perform_logout_button(type='submit', value='Logout')
            //  a#logout_link(href='/logout', style='display:none;') Logout
            //
            //a(href='#logout' action=logout)
            //  i.fa.fa-sign-out.fa-fw
            //
            //
            //form#logout(name='logout', method='post', action='/logout')
            //  input(type='hidden', name='perform_logout', value='1')
            //  input#perform_logout_button(type='submit', value='Logout')
            //  a#logout_link(href='/logout', style='display:none;') Logout
            //

            // i.fa.fa-sign-out.fa-fw
            form(action='/logout', method='post')
              button.btn-link(type='submit', name='your_name', value='your_value') Logout


            //a(href='#logout' action=logout)
            //  i.fa.fa-sign-out.fa-fw
            //  |  Logout
            //
            //a(action='/logout', method='post')
            //  i.fa.fa-sign-out.fa-fw
            //  |  Logout


          // script(type='text/javascript').
          //   // Assuming you're using jQuery...
          //   $('#perform_logout_button').hide();
          //   $('#logout_link').click(function() {
          //   document.logout_form.submit(); return false; });





        // /.dropdown-user
      |                 #{user.fullName}
      li
      // /.dropdown
    // /.navbar-top-links
    .navbar-default.sidebar(role='navigation')
      .sidebar-nav.navbar-collapse
        ul#side-menu.nav
          li
            a(href='dashboard.html')
              i.fa.fa-dashboard.fa-fw
              |  Dashboard
          li
            a(href='#')
              i.fa.fa-sitemap.fa-fw
              |  Courses
              span.fa.arrow
            ul.nav.nav-second-level
              li
                a(href='addClass') Add Class
              //
                <li>
                <a href="createEvent.html">Create Event (TODO remove)</a>
                </li>
              li
                a(href='class.html') CS180
                // /course/cs180
              li
                a(href='#') [Class Name]
              //
                <li>
                <a href="#">Past Courses (Sprint 2) <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                <li>
                <a href="#">Third Level Item</a>
                </li>
                <li>
                <a href="#">Third Level Item</a>
                </li>
                <li>
                <a href="#">Third Level Item</a>
                </li>
                <li>
                <a href="#">Third Level Item</a>
                </li>
                </ul>
                /.nav-third-level
                </li>
            // /.nav-second-level
      // /.sidebar-collapse
    // /.navbar-static-side
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Welcome, #{user.fullName}!
      // /.col-lg-12
    // /.row
    .row
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-tasks.fa-5x
              .col-xs-9.text-right
                .huge 5
                div My Courses
          a(href='addClass.html')
            .panel-footer
              span.pull-left Add Class
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-comments.fa-5x
              .col-xs-9.text-right
                .huge 26
                div New Feeds
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      //
        <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
        <div class="panel-heading">
        <div class="row">
        <div class="col-xs-3">
        <i class="fa fa-support fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
        <div class="huge">8</div>
        <div>New Events</div>
        </div>
        </div>
        </div>
        <a href="#">
        <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
        </div>
        </a>
        </div>
        </div>
    // /.row
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Summary
          // /.panel-heading
          .panel-body(style='height:500px;overflow:auto;')
            .well.well-sm
              h4 Small Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            .well.well-sm
              h4 Small Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            .well.well-sm
              h4 Small Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            .well.well-sm
              h4 Small Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            .well.well-sm
              h4 Small Well
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            // /.row
          // /.panel-body
        // /.panel
      .col-lg-4
        .panel.panel-default
          .panel-heading
            i.fa.fa-bell.fa-fw
            |  Events
          // /.panel-heading
          .panel-body(style='height:500px;overflow:auto;')
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                |  Group Meeting
                span.pull-right.text-muted.small
                  em Today 10:00 P.M.
              a.list-group-item(href='#')
                i.fa.fa-tasks.fa-fw
                |  Study Session
                span.pull-right.text-muted.small
                  em Tuesday 6:00 P.M.
              a.list-group-item(href='#')
                i.fa.fa-bolt.fa-fw
                |  Second Exam
                span.pull-right.text-muted.small
                  em Wednesday 8:30 P.M.
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                |  Group Meeting
                span.pull-right.text-muted.small
                  em 3/13 10:00 P.M.
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                |  Group Meeting
                span.pull-right.text-muted.small
                  em 3/20 10:00 P.M.

    .row
  // /#page-wrapper
// /#wrapper
// jQuery
script(src='../vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='../vendor/bootstrap/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='../vendor/metisMenu/metisMenu.min.js')
// Morris Charts JavaScript
script(src='../vendor/raphael/raphael.min.js')
script(src='../vendor/morrisjs/morris.min.js')
script(src='../data/morris-data.js')
// Custom Theme JavaScript
script(src='../js/main.js')






























doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Coconut Watr
    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../css/style.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='../vendor/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      // nav bar
      nav#header-navigation-bar
      script(src='../js/script.js')
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Dashboard
          // /.col-lg-12
        // /.row
        .row
          .col-lg-3.col-md-6
            .panel.panel-green
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-tasks.fa-5x
                  .col-xs-9.text-right
                    .huge 5
                    div My Courses
              a(href='addClass.html')
                .panel-footer
                  span.pull-left Add Class
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-comments.fa-5x
                  .col-xs-9.text-right
                    .huge 26
                    div New Feeds
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          //
            <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
            <div class="panel-heading">
            <div class="row">
            <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
            <div class="huge">8</div>
            <div>New Events</div>
            </div>
            </div>
            </div>
            <a href="#">
            <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
            </div>
            </a>
            </div>
            </div>
        // /.row
        .row
          .col-lg-8
            .panel.panel-default
              .panel-heading
                i.fa.fa-bar-chart-o.fa-fw
                |  Summary
              // /.panel-heading
              .panel-body(style='height:500px;overflow:auto;')
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                // /.row
              // /.panel-body
            // /.panel
          .col-lg-4
            .panel.panel-default
              .panel-heading
                i.fa.fa-bell.fa-fw
                |  Events
              // /.panel-heading
              .panel-body(style='height:500px;overflow:auto;')
                .list-group
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em Today 10:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-tasks.fa-fw
                    |  Study Session
                    span.pull-right.text-muted.small
                      em Tuesday 6:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-bolt.fa-fw
                    |  Second Exam
                    span.pull-right.text-muted.small
                      em Wednesday 8:30 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em 3/13 10:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em 3/20 10:00 P.M.
        .row
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='../vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../vendor/metisMenu/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='../vendor/raphael/raphael.min.js')
    script(src='../vendor/morrisjs/morris.min.js')
    script(src='../data/morris-data.js')
    // Custom Theme JavaScript
    script(src='../js/main.js')







