doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Coconut Watr
    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../css/style.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='../vendor/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      // nav bar
      nav#header-navigation-bar
      script(src='../js/script.js')
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Dashboard
          // /.col-lg-12
        // /.row
        .row
          .col-lg-3.col-md-6
            .panel.panel-green
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-tasks.fa-5x
                  .col-xs-9.text-right
                    .huge 5
                    div My Courses
              a(href='addClass.html')
                .panel-footer
                  span.pull-left Add Class
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-comments.fa-5x
                  .col-xs-9.text-right
                    .huge 26
                    div New Feeds
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          //
            <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
            <div class="panel-heading">
            <div class="row">
            <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
            <div class="huge">8</div>
            <div>New Events</div>
            </div>
            </div>
            </div>
            <a href="#">
            <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
            </div>
            </a>
            </div>
            </div>
        // /.row
        .row
          .col-lg-8
            .panel.panel-default
              .panel-heading
                i.fa.fa-bar-chart-o.fa-fw
                |  Summary
              // /.panel-heading
              .panel-body(style='height:500px;overflow:auto;')
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                .well.well-sm
                  h4 Small Well
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                // /.row
              // /.panel-body
            // /.panel
          .col-lg-4
            .panel.panel-default
              .panel-heading
                i.fa.fa-bell.fa-fw
                |  Events
              // /.panel-heading
              .panel-body(style='height:500px;overflow:auto;')
                .list-group
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em Today 10:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-tasks.fa-fw
                    |  Study Session
                    span.pull-right.text-muted.small
                      em Tuesday 6:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-bolt.fa-fw
                    |  Second Exam
                    span.pull-right.text-muted.small
                      em Wednesday 8:30 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em 3/13 10:00 P.M.
                  a.list-group-item(href='#')
                    i.fa.fa-comment.fa-fw
                    |  Group Meeting
                    span.pull-right.text-muted.small
                      em 3/20 10:00 P.M.
        .row
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='../vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../vendor/metisMenu/metisMenu.min.js')
    // Morris Charts JavaScript
    script(src='../vendor/raphael/raphael.min.js')
    script(src='../vendor/morrisjs/morris.min.js')
    script(src='../data/morris-data.js')
    // Custom Theme JavaScript
    script(src='../js/main.js')
