doctype html
//
  Purdue Univ. Spring 2017
  CS408 Software Testing Team 14
  Team member
  Kate Wang, Dominic Valentine, Wilson E Husin, Jiho Choi, Kyle Leaf
// this index.html will redirect to pages/index.html
html
  head
    //
      <meta http-equiv="refresh" content="0;url=pages/index.html">
    title Coconut Watr
    //
      <script language="javascript">
      window.location.href = "./pages/dashboard.html"
      </script>
  body
    a(href='/login') Login
    |  
    | &#x9;
    br
    | &#x9;
    a(href='/register') Register
    | &#x9;
    br
    | &#x9;
    form#logout(name='logout', method='post', action='/logout')
      input(type='hidden', name='perform_logout', value='1')
      | &#x9;&#x9;
      input#perform_logout_button(type='submit', value='Logout')
      | &#x9;&#x9;
      a#logout_link(href='/logout', style='display:none;') Logout
    | &#x9;
    | &#x9;
    | &#x9;
    script(type='text/javascript').
      // Assuming you're using jQuery...
      $('#perform_logout_button').hide();
      $('#logout_link').click(function() {
      document.logout_form.submit(); return false; });
